version: "3.8"
services:
  # Maven build e run
  maven:
    image: maven:3.8.6-openjdk-11
    container_name: calc-app
    working_dir: /app
    volumes:
      - .:/app
      - ~/.m2:/root/.m2
      # - maven-target:/app/target # Volume separado para target
    ports:
      - "8090:9000" # Mapeia 9000 do container para 8090 do host
    command: sh -lc "mvn -q -DskipTests compile && mvn -q spring-boot:run"
    networks:
      - app-network
    environment:
      - SERVER_PORT=9000

  # Selenium Chrome
  chrome:
    image: selenium/standalone-chrome:latest
    container_name: selenium-chrome
    ports:
      - "4445:4444"
      - "7901:7900"
    shm_size: 2g
    networks:
      - app-network
    environment:
      - SE_NODE_MAX_SESSIONS=5
      - SE_NODE_SESSION_TIMEOUT=300

networks:
  app-network:
    driver: bridge

volumes:
  maven-target:
