version: "3.8"
services:
  app:
    image: calculator-plus:${TAG:-latest}
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SERVER_PORT=9000
    ports:
      - "9000:9000"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
